<header class="header">
    <div class="common__container">
        <div class="header__container">
            <div class="header__inner">
                <button class="button__menu button__menu--notification js-open-menu">
                </button>
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item"><span>Доступ запрещен</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="common__section">
    <section class="product">
    <div class="common__container">
    Страница, к которой вы обратились, не существует. Попробуйте вернуться на <a href="/">Главную странницу</a>
    и попробовать еще раз. Если вы считаете, что это ошибка, то обратитесь к администратору сайта для ее
    устранения.
    </div>
    </section>
</div>
