<!-- BEGIN BLOCK: not_logged -->
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>NA100PRO — Система продвижения объектов недвижимости в сети Интернет</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="{HTML_ROOT}new/main.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{HTML_ROOT}favicon.ico?v={FAVVER}2" />
</head>

<body>
    <aside class="topline js-topline">
        <div class="wrap">
            <div class="topline__content"><button type="button" class="topline__logo logo js-logo"><svg class="logo__img">
                        <use xlink:href="/new/sprite/sprite.svg#logo"></use>
                    </svg> <span class="logo__text">Система продвижения объектов<br>недвижимости в сети Интернет</span></button>
                <div class="topline__actions topline-actions">
                    <p class="topline-actions__item"><svg class="icon ico-offset-right topline-actions__ico">
                            <use xlink:href="/new/sprite/sprite.svg#phone"></use>
                        </svg> <a class="topline-actions__tel-link" href="tel:+74952552860">+7 (495) 255-28-60</a></p>
                    <p class="topline-actions__item"><svg class="icon ico-offset-right topline-actions__ico">
                            <use xlink:href="/new/sprite/sprite.svg#user"></use>
                        </svg> <button type="button" class="topline-actions__login-btn js-show-auth-btn">Войти</button></p>
                </div>
            </div>
        </div>
    </aside>
    <header class="header js-header">
        <div class="wrap">
            <div class="header__content">
                <div class="header__logo-container"><svg class="header__logo">
                        <use xlink:href="/new/sprite/sprite.svg#logo"></use>
                    </svg></div>
                <div>
                    <h1 class="header__title">Технологическая платформа<br>по продвижению объектов<br>недвижимости</h1><button type="button" class="btn js-show-auth-btn">Войти в личный кабинет</button><video class="header__video" preload="auto" autoplay loop muted>
                        <source src="/new/video/na100pro.mp4" type="video/mp4">
                        <source src="/new/video/na100pro.webm" type="video/webm">
                    </video>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="wrap">
            <section class="section about">
                <h2 class="section__title about__main-title">О системе</h2>
                <p class="section__description">Сервис, позволяющий размещать и&nbsp;управлять объектами недвижимости<br>на&nbsp;тематических площадках из&nbsp;единого личного кабинета</p>
                <div class="scroller-container scroller-container--shadow-offset">
                    <div class="scroller-container__scroller">
                        <div class="scroller-container__content">
                            <ul class="about__list">
                                <li class="about__item"><svg class="b-icon about__ico">
                                        <use xlink:href="/new/sprite/sprite.svg#business"></use>
                                    </svg>
                                    <p class="about__title">Продвижение <span class="desktop-block">объектов</span></p>
                                    <p class="about__text">Помимо публикации самих объявлений, сервис готовит контент под требуемые объекты и&nbsp;обеспечивает увеличение охвата за&nbsp;счет дополнительного продвижения</p>
                                </li>
                                <li class="about__item"><svg class="b-icon about__ico">
                                        <use xlink:href="/new/sprite/sprite.svg#statistics"></use>
                                    </svg>
                                    <p class="about__title">Агрегированная<br>статистика</p>
                                    <p class="about__text">Благодаря прямой интеграции продукта с&nbsp;площадками недвижимости, девелопер из&nbsp;единого окна управляет размещениями и&nbsp;получает агрегированную статистику.</p>
                                </li>
                                <li class="about__item"><svg class="b-icon about__ico">
                                        <use xlink:href="/new/sprite/sprite.svg#finance"></use>
                                    </svg>
                                    <p class="about__title">Оптимизация<br>финансовых потоков</p>
                                    <p class="about__text">Обеспечиваем постоянный контроль входящего потока в&nbsp;разрезе площадок и&nbsp;отстаиванию нецелевых звонков с&nbsp;площадками.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section efficiency">
                <h2 class="section__title">Результативность</h2>
                <p class="section__description efficiency__description">Даем финансовую гарантию результата</p>
                <ul class="efficiency__list">
                    <li class="efficiency__item">
                        <p class="efficiency__title">25%</p>
                        <p class="efficiency__text">Увеличим количество звонков от&nbsp;текущих значений без потери качества обращений</p>
                    </li>
                    <li class="efficiency__item">
                        <p class="efficiency__title"><span class="efficiency__from">от</span> 20%</p>
                        <p class="efficiency__text">Сэкономим рекламный бюджет за&nbsp;счет отстаивания нецелевых обращений и&nbsp;автоматизированного продвижения</p>
                    </li>
                    <li class="efficiency__item">
                        <p class="efficiency__title">50+</p>
                        <p class="efficiency__text">Площадок подключены к&nbsp;сервису, обеспечивающие высокое качество обращений</p>
                    </li>
                </ul>
            </section>
            <section class="section solution-for">
                <h2 class="section__title solution-for__main-title">Для кого это решение</h2>
                <ul class="solution-for__list">
                    <li class="solution-for__item"><img class="solution-for__img" src="/new/img/efficiency_1.svg" alt="Для застройщиков"> Для застройщиков</li>
                    <li class="solution-for__item"><img class="solution-for__img" src="/new/img/efficiency_2.svg" alt="Для агентств недвижимости"> Для агентств <span class="desktop-block">недвижимости</span></li>
                    <li class="solution-for__item"><img class="solution-for__img" src="/new/img/efficiency_3.svg" alt="Для загородной недвижимости"> Для загородной <span class="desktop-block">недвижимости</span></li>
                </ul>
            </section>
            <section class="section steps">
                <h2 class="section__title steps__main-title">Как это работает</h2>
                <ul class="steps__list">
                    <li class="steps__item"><svg class="b-icon steps__ico">
                            <use xlink:href="/new/sprite/sprite.svg#robot"></use>
                        </svg>
                        <p class="steps__title">Шаг 1</p>
                        <p class="steps__text">Ежедневная актуализация обеспечивается программными роботами, собирающими актуальные цены/сток с&nbsp;сайта/базы застройщика.</p>
                    </li>
                    <li class="steps__item"><svg class="b-icon steps__ico">
                            <use xlink:href="/new/sprite/sprite.svg#documents"></use>
                        </svg>
                        <p class="steps__title">Шаг 2</p>
                        <p class="steps__text">Формируем мультитекстовые объявления для подобных квартир, это позволяет увеличить количество просмотров объявлений в&nbsp;листингах (результаты поиска в&nbsp;базах).</p>
                    </li>
                    <li class="steps__item"><svg class="b-icon steps__ico">
                            <use xlink:href="/new/sprite/sprite.svg#browser-grid"></use>
                        </svg>
                        <p class="steps__title">Шаг 3</p>
                        <p class="steps__text">Обеспечиваем публикацию объектов недвижимости на&nbsp;тематических площадках с&nbsp;автоматическим ведением аукционов с&nbsp;исполнением заранее выбранных аудиторных стратегий.</p>
                    </li>
                    <li class="steps__item"><svg class="b-icon steps__ico">
                            <use xlink:href="/new/sprite/sprite.svg#reload"></use>
                        </svg>
                        <p class="steps__title">Шаг 4</p>
                        <p class="steps__text">Постоянный контроль входящего потока в&nbsp;разрезе площадок и&nbsp;отстаиванию нецелевых звонков с&nbsp;площадками.</p>
                    </li>
                </ul>
            </section>
        </div>
        <section class="section section--blue facilities">
            <h2 class="section__title facilities__main-title">Возможности платформы</h2>
            <div class="wrap">
                <div class="scroller-container">
                    <div class="scroller-container__scroller">
                        <div class="scroller-container__content">
                            <ul class="facilities__list">
                                <li class="facilities__item facilities__item--half"><svg class="b-icon facilities__ico">
                                        <use xlink:href="/new/sprite/sprite.svg#settings"></use>
                                    </svg>
                                    <p class="facilities__title">Ведение аукционов</p>
                                    <p class="facilities__text">Автоматическое ведение аукционов с&nbsp;исполнением заранее выбранных аудиторных стратегий вместо ручного управления по&nbsp;расписанию.</p>
                                </li>
                                <li class="facilities__item facilities__item--half"><svg class="b-icon facilities__ico">
                                        <use xlink:href="/new/sprite/sprite.svg#frame"></use>
                                    </svg>
                                    <p class="facilities__title">Контроль видимости объявлений</p>
                                    <p class="facilities__text">Автоматизированный контроль видимости объявлений в&nbsp;выдаче и&nbsp;управлении аукционами и&nbsp;поднятиями.</p>
                                </li>
                                <li class="facilities__item"><svg class="b-icon facilities__ico">
                                        <use xlink:href="/new/sprite/sprite.svg#filter"></use>
                                    </svg>
                                    <p class="facilities__title">Контроль входящего потока</p>
                                    <p class="facilities__text">Постоянный контроль входящего потока в&nbsp;разрезе площадок и&nbsp;оспариванию нецелевых звонков с&nbsp;площадками.</p>
                                </li>
                                <li class="facilities__item"><svg class="b-icon facilities__ico">
                                        <use xlink:href="/new/sprite/sprite.svg#publication"></use>
                                    </svg>
                                    <p class="facilities__title">Публикации</p>
                                    <p>Расширение состава площадок по&nbsp;публикациям объектов недвижимости.</p>
                                </li>
                                <li class="facilities__item"><svg class="b-icon facilities__ico">
                                        <use xlink:href="/new/sprite/sprite.svg#automatization"></use>
                                    </svg>
                                    <p class="facilities__title">Автоматизация</p>
                                    <p>Автоматизированный контроль позиций.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="wrap">
            <section class="section xml">
                <h2 class="section__title xml__main-title">Мультитекстовые объявления и&nbsp;<span class="nobr">XML-фиды</span></h2>
                <p class="section__description xml__description">Расширенная информация в&nbsp;объявлениях позволяет отсечь нецелевую<br>аудиторию и&nbsp;обеспечивает рост качества обращений клиентов.</p>
                <div class="xml__laptop-wrapper"><img class="xml__laptop xml__laptop--desktop" src="/new/img/laptop.png" alt="Мультитекстовые объявления и XML-фиды"> <img class="xml__laptop xml__laptop--mobile" src="/new/img/laptop-mobile.png" alt="Мультитекстовые объявления и XML-фиды">
                    <div class="xml__text">
                        <p>Обеспечиваем автоматическое формирование мультитекстовых объявлений с&nbsp;высокой глубиной детализации и&nbsp;ежедневную актуализацию на&nbsp;основе данных застройщика.</p>
                        <p>Ежедневная актуализация обеспечивается программными роботами, собирающими актуальные цены/сток с&nbsp;сайта/базы застройщика.</p>
                    </div>
                </div>
                <ol class="xml__list">
                    <li class="xml__item">Сформируем разные тексты для подобных квартир, это позволяет увеличить количество просмотров объявлений в&nbsp;листингах (результаты поиска в&nbsp;базах).</li>
                    <li class="xml__item">Обеспечим все&nbsp;ЦА именно той формулировкой в&nbsp;тексте объявления, которая устроит его, это позволяет шире охватить аудиторию покупателей.</li>
                    <li class="xml__item">Предоставим полную информацию обо всех особенностях квартиры, это позволяет минимизировать количество нецелевых обращений.</li>
                </ol>
            </section>
            <section class="section analytics">
                <h2 class="section__title analytics__main-title">Аналитические отчёты</h2>
                <p class="section__description analytics__description">Мы предоставляем 2 типа отчётов</p>
                <div class="scroller-container">
                    <div class="scroller-container__scroller">
                        <div class="scroller-container__content">
                            <div class="tabs analytics__tabs"><button type="button" class="tabs__item active js-tab-btn" data-tab="competitors">Отчёт по конкурентам</button> <button type="button" class="tabs__item js-tab-btn" data-tab="visibility">Отчёт по видимости</button></div>
                        </div>
                    </div>
                </div>
                <div class="analytics__content">
                    <ul class="analytics__list js-tab-container active" data-tab="competitors">
                        <li class="analytics__item">Количество квартир в продаже</li>
                        <li class="analytics__item">Минимальная стоимость квадратного метра</li>
                        <li class="analytics__item">Сроки сдачи корпусов</li>
                        <li class="analytics__item">Минимальная стоимость квадратного метра с&nbsp;учётом сроков сдачи</li>
                        <li class="analytics__item">Минимальная площадь квартир с&nbsp;учётом комнатности</li>
                        <li class="analytics__item">Минимальная стоимость квартир с&nbsp;учётом комнатности</li>
                    </ul>
                    <ul class="analytics__list js-tab-container" data-tab="visibility">
                        <li class="analytics__item">ЖК</li>
                        <li class="analytics__item">Актуальность</li>
                        <li class="analytics__item">Присутствие</li>
                    </ul>
                </div><!-- a href="#" class="btn analytics__download-btn" type="button" download>Скачать пример отчёта </a --><img class="analytics__map" src="/new/img/map.png" alt="">
            </section>
            <section class="section partners">
                <h2 class="section__title partners__main-title">С нами работают</h2>
                <div class="scroller-container">
                    <div class="scroller-container__scroller">
                        <div class="scroller-container__content">
                            <ul class="partners__list">
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/lexion.png" alt="Lexion development"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/pioneer.png" alt="Pioneer"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/a101.png" alt="A101"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/donstroy.png" alt="Донстрой"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/kvs.png" alt="KVS"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/fsk.png" alt="ФСК"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/afi.png" alt="Afidevelopment"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/oykumena.png" alt="Строительная компания Ойкумена"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/capital.png" alt="Capital Group"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/red-arrow.png" alt="Красная стрела"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/magistrat.png" alt="Магистрат недвижимость"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/bsk.png" alt="Байкал Строй Комплекс"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/etalon.png" alt="Группа Эталон"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/psk.png" alt="ПСК"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/valartis.png" alt="valartisgroup"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/monarh.png" alt="Группа компаний МонАрх"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/sherbinka.png" alt="Жилой квартал Новая Щербинка"></li>
                                <li class="partners__item"><img class="partners__img" src="/new/img/partners/domstroy.png" alt="Группа компаний Домстрой"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="footer">
        <div class="wrap">
            <div class="footer__row">
                <div class="logo footer__logo"><svg class="logo__img">
                        <use xlink:href="/new/sprite/sprite.svg#logo"></use>
                    </svg>
                    <p class="logo__text">Система продвижения объектов<br>недвижимости в сети Интернет</p>
                </div>
                <p class="footer__item footer__item--address"><svg class="icon ico-offset-right footer__ico">
                        <use xlink:href="/new/sprite/sprite.svg#pin"></use>
                    </svg> <span>Москва, Ленинская слобода, 19,<br>БЦ «Омега Плаза», (м. Автозаводская)</span></p>
                <p class="footer__item"><svg class="icon ico-offset-right footer__ico">
                        <use xlink:href="/new/sprite/sprite.svg#phone"></use>
                    </svg> <a class="footer__contact-link" href="tel:+74952552860">+7 (495) 255-28-60</a></p>
                <p class="footer__item"><svg class="icon ico-offset-right footer__ico">
                        <use xlink:href="/new/sprite/sprite.svg#mail"></use>
                    </svg> <a class="footer__contact-link" href="mailto:info@na100.pro">info@na100.pro</a></p>
            </div>
            <div class="footer__row footer__row--offer">
                <p><!-- a href="#" class="footer__offer-link">Публичная оферта</a --></p>
                <p>© 2021 NA100PRO</p>
            </div>
        </div>
    </footer>
    <aside class="overlay js-overlay">
        <div class="overlay__content js-overlay-content">
            <div class="auth">
                <form action="/index.php?page=login&amp;action=enter" method="post"><button type="button" class="overlay__close-btn js-close-overlay-btn"><svg class="s-icon">
                            <use xlink:href="/new/sprite/sprite.svg#cross"></use>
                        </svg></button>
                    <h2 class="auth__title">Вход в личный кабинет</h2><input class="input auth__field" placeholder="Введите логин" autocomplete="username" type="text" name="login">
                    <div class="password auth__field js-password-field"><input class="input password__field auth__field js-password-input" autocomplete="current-password" placeholder="Введите пароль" type="password" name="password"> <button type="button" class="password__show-btn js-password-show-btn"><svg class="password__ico-eye password__ico-eye--disabled">
                                <use xlink:href="/new/sprite/sprite.svg#eye-crossed"></use>
                            </svg> <svg class="password__ico-eye password__ico-eye--active">
                                <use xlink:href="/new/sprite/sprite.svg#eye"></use>
                            </svg></button></div>
                    <div class="auth__field auth__field--checkbox"><label class="checkbox" for="remember"><input class="checkbox__field" id="remember" type="checkbox" name="remember" value="1"> <span class="checkbox__label">Запомнить меня</span></label></div><button class="btn auth__submit-btn" type="submit">Войти в личный кабинет</button>
                </form>
            </div>
        </div>
    </aside>
    <script src="/new/jquery.js"></script>
    <script src="/new/main.js"></script>
</body>

</html>
<!-- END BLOCK: not_logged -->

<!-- BEGIN BLOCK: yes_logged -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{TITLE_TEXT}</title>
    <meta name="theme-color" content="#c9e0e04d">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/diz/img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="/diz/img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="/diz/img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/diz/img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="/diz/img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/diz/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/diz/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/diz/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/diz/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/diz/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/diz/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/diz/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/diz/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/diz/img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/diz/img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="/diz/img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="/diz/styles/main.css">
</head>
<body>
    <div class="main__page">
        <menu class="menu js-menu">
            <div class="menu__inner">
                <div class="menu__container">
                    <div class="menu__header">
                        <div class="menu__logo-wrap">
                            <div class="menu__logo">
                                <img src="/diz/img/img/logo.jpg" alt="na100pro">
                            </div>
                            <span class="menu__logo-text">
                                Система продвижения объектов недвижимости в сети Интернет
                            </span>
                        </div>
                        <div class="menu__close">
                            <div class="menu__close-inner">
                                <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use class="action-icon menu-close" xlink:href="/diz/img/sprites/sprite.svg#menu-close"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="/">
                                <div class="menu__icon">
                                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use class="action-icon section" xlink:href="/diz/img/sprites/sprite.svg#section"></use>
                                    </svg>
                                </div>
                                <span class="menu__item-name">
                                    Общие показатели
                                </span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/index.php?page=flats">
                                <div class="menu__icon">
                                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use class="action-icon build" xlink:href="/diz/img/sprites/sprite.svg#build"></use>
                                    </svg>
                                </div>
                                <span class="menu__item-name">
                                    Квартиры ЖК
                                </span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/index.php?page=call">
                                <div class="menu__icon">
                                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use class="action-icon call" xlink:href="/diz/img/sprites/sprite.svg#call"></use>
                                    </svg>
                                </div>
                                <span class="menu__item-name">
                                    Отчет по звонкам
                                </span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/index.php?page=report">
                                <div class="menu__icon">
                                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use class="action-icon bar-graph" xlink:href="/diz/img/sprites/sprite.svg#bar-graph"></use>
                                    </svg>
                                </div>
                                <span class="menu__item-name">
                                    Отчет по конкурентам
                                </span>
                            </a>
                        </li>
                        <!-- li class="menu__item">
                            <a class="menu__link" href="/index.php?page=offer">
                                <div class="menu__icon">
                                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use class="action-icon text" xlink:href="/diz/img/sprites/sprite.svg#text"></use>
                                    </svg>
                                </div>
                                <span class="menu__item-name">
                                    Мультитекстовые объявления
                                </span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/pages/users.html">
                                <div class="menu__icon">
                                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use class="action-icon users" xlink:href="/diz/img/sprites/sprite.svg#users"></use>
                                    </svg>
                                </div>
                                <span class="menu__item-name">
                                    Пользователи
                                </span>
                            </a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="/pages/notification.html">
                                <div class="menu__icon menu__icon--notification menu__icon--exist">
                                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use class="action-icon notification" xlink:href="/diz/img/sprites/sprite.svg#notification""></use>
                                    </svg>
                                </div>
                                <span class="menu__item-name">
                                    Уведомления
                                </span>
                            </a>
                            <span class="notification__item">
                                12
                            </span>
                        </li -->
                        <li class="menu__item">
                            <a class="menu__link" href="/index.php?page=login&amp;action=exit">
                                <div class="menu__icon">
                                    <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <use class="action-icon users" xlink:href="/diz/img/sprites/sprite.svg#users"></use>
                                    </svg>
                                </div>
                                <span class="menu__item-name">
                                    Завершить работу
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu__box">
                    <div class="menu__box-item menu__box-item--question">
                        <div class="menu__icon-box">
                            <div class="menu__icon menu__icon--question">
                                <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <use class="action-icon question" xlink:href="/diz/img/sprites/sprite.svg#question-circle"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="menu__box-info">
                            <span class="menu__box-title">
                                Недовольны результатом?
                            </span>
                            <span class="menu__box-desc">
                                Сообщите менеджеру. Менеджер увидит, с какой страницы к нему обратились
                            </span>
                        </div>
                    </div>
                    <div class="menu__box-item menu__box-item--contact">
                        <div class="menu__avatar menu__avatar--contact">
                            <img src="/diz/img/img/avatar.jpg" alt="Аватар">
                        </div>
                        <div class="menu__box-info">
                            <span class="menu__box-title">
                                Иванов Иван
                            </span>
                            <span class="menu__box-desc">
                                Ваш личный менеджер
                            </span>
                            <div class="menu__box-link">
                                <a href="#" class="menu__contact">
                                    +7 (495) 222-22-22
                                </a>
                                <a href="#" class="menu__contact">
                                    info@na100.pro
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- div class="menu__box-item menu__box-item--setting">
                        <div class="menu__avatar">
                            <img src="/diz/img/img/avatar-setting.jpg" alt="Аватар">
                        </div>
                        <a class="menu__setting" href="#">
                            Настройки аккаунта
                        </a>
                    </div -->
                </div>
            </div>
        </menu>
        <!-- BEGIN BLOCK: overall -->
        {CONTENT}
        <!-- END BLOCK: overall -->
    </div>
    <script src="/diz/js/vendor.js"></script>
    <script src="/diz/js/main.js"></script>
</body>
</html>
<!-- END BLOCK: yes_logged -->
