<header class="header header--reload">
    <div class="common__container">
        <div class="header__container">
            <div class="header__inner">
                <button class="button__menu button__menu--notification js-open-menu">
                </button>
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item"><span>{COMPLEX_NAME}</span></li>
                        <li class="breadcrumbs__item"><span>{FLAT_HEAD}</span></li>
                    </ul>
                </div>
            </div>
            <div class="header__group">
                <div class="product__info product__info--header">
                    <div class="product__info-icon">
                        <svg class="search__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <use class="reload" xlink:href="/diz/img/sprites/sprite.svg#reload"></use>
                        </svg>
                    </div>
                    <span class="product__info-text">
                                    Обновлено {FLAT_UPDATE}
                                </span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="common__section">
    <div class="offer">
    <div class="common__container">
        <div class="offer__inner">
            <div class="offer__item">
                <div class="offer__reload">
                    <div class="product__info product__info--header">
                        <div class="product__info-icon">
                            <svg class="search__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <use class="reload" xlink:href="/diz/img/sprites/sprite.svg#reload"></use>
                            </svg>
                        </div>
                        <span class="product__info-text">
                                        Обновлено {FLAT_UPDATE}
                                    </span>
                    </div>
                </div>
                <div class="offer__header">
                    <h2 class="offer__title">
                        {FLAT_HEAD}
                    </h2>
                    <div class="offer__mark-status offer__mark-status--positive">
                        <span>
                           Для просмотра мультитекстового объявления обновите страницу
                        </span>
                    </div>
                </div>

                <div class="offer__info">
                    <div class="offer__info-main">
                        <span class="offer__info-calc">
                            {FLAT_PRICE} ₽
                        </span>
                        <span class="offer__info-area">
                            {FLAT_PRICE_METR} ₽/м<sup>2</sup>
                        </span>
                    </div>
                    <div class="offer__info-box">
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Количество комнат
                            </span>
                            <span class="offer__info-text">
                                {FLAT_ROOMS}
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Этаж
                            </span>
                            <span class="offer__info-text">
                                {FLAT_LEVEL} / {SECTION_LEVEL}
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Общая площадь
                            </span>
                            <span class="offer__info-text">
                                {FLAT_AREA} м<sup>2</sup>
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Кухня
                            </span>
                            <span class="offer__info-text">
                                {FLAT_KITCHEN} м<sup>2</sup>
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Вид из окон
                            </span>
                            <span class="offer__info-text">
                                {FLAT_WINDOW}
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Ремонт
                            </span>
                            <span class="offer__info-text">
                               {FLAT_REPAIR}
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Комнаты
                            </span>
                            <span class="offer__info-text">
                               {FLAT_TYPE}
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Секция
                            </span>
                            <span class="offer__info-text">
                               {SECTION_NUM}
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Жилая площадь
                            </span>
                            <span class="offer__info-text">
                               {FLAT_LIVE} м<sup>2</sup>
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Состояние
                            </span>
                            <span class="offer__info-text">
                               {FLAT_QUALITY}
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Отделка
                            </span>
                            <span class="offer__info-text">
                               {FLAT_DECOR}
                            </span>
                        </div>
                        <div class="offer__info-item">
                            <span class="offer__info-title">
                                Покрытие пола
                            </span>
                            <span class="offer__info-text">
                               {FLAT_FLOOR}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer__item">
                <div class="offer__desc">
                    <div class="offer__text-inner js-text-action-box">
                        <div class="offer__text js-text-action-content">
                            {FLAT_DESC}
                        </div>
                        <button class="button__open js-button-show-content open">
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                                <path d="M9.15167 0.143158H8.31461C8.25769 0.143158 8.20412 0.17106 8.17064 0.216819L4.99988 4.58736L1.82912 0.216819C1.79564 0.17106 1.74207 0.143158 1.68515 0.143158H0.848094C0.775549 0.143158 0.733139 0.225747 0.775549 0.284899L4.71082 5.71012C4.85367 5.90655 5.14608 5.90655 5.28783 5.71012L9.22309 0.284899C9.26662 0.225747 9.22421 0.143158 9.15167 0.143158Z" fill="black" fill-opacity="0.45"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="offer__desc-box">
                        <div class="offer__img">
                            <ul class="offer__img-list">
                                <li class="offer__img-item"><img src="/img/img/offer/offer1.jpg" alt=""></li>
                                <li class="offer__img-item"><img src="/img/img/offer/offer2.jpg" alt=""></li>
                                <li class="offer__img-item"><img src="/img/img/offer/offer3.jpg" alt=""></li>
                                <li class="offer__img-item"><img src="/img/img/offer/offer4.jpg" alt=""></li>
                                <li class="offer__img-item"><img src="/img/img/offer/offer5.jpg" alt=""></li>
                                <li class="offer__img-item"><img src="/img/img/offer/offer6.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="offer__mark">
                            <ul class="offer__mark-list">
                                <!--1-->
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Студия
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{STUDIO_1}">
                                        <span>
                                           {STUDIO_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Свободная планировка
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{FREEPLAN_1}">
                                        <span>
                                            {FREEPLAN_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Парковка
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{PARKING_1}">
                                        <span>
                                           {PARKING_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Парковая зона
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{FOREST_1}">
                                        <span>
                                            {FOREST_2}
                                        </span>
                                    </div>
                                </li>

                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Лоджия
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{LODGIA_1}">
                                        <span>
                                            {LODGIA_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">Пассажирский лифт</span>
                                    <div class="offer__mark-status offer__mark-status--{LIFTP_1}">
                                        <span>
                                            {LIFTP_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Торговые центры
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{MARKET_1}">
                                        <span>
                                           {MARKET_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        торг
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{HAGGLE_1}">
                                        <span>
                                           {HAGGLE_2}
                                        </span>
                                    </div>
                                </li>

                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Балкон
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{BALCON_1}">
                                        <span>
                                           {BALCON_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Грузовой лифт
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{LIFTG_1}">
                                        <span>
                                           {LIFTG_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Магазины
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{SHOP_1}">
                                        <span>
                                           {SHOP_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        рассрочка
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{DEFERRED_1}">
                                        <span>
                                           {DEFERRED_2}
                                        </span>
                                    </div>
                                </li>

                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                       Санузел совмещенный
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{SUS_1}">
                                        <span>
                                           {SUS_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Мусоропровод
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{TRASH_1}">
                                        <span>
                                           {TRASH_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Охрана
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{SECURITY_1}">
                                        <span>
                                           {SECURITY_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        ипотека
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{MORTGAGE_1}">
                                        <span>
                                           {MORTGAGE_2}
                                        </span>
                                    </div>
                                </li>

                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Санузел раздельный
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{SUR_1}">
                                        <span>
                                           {SUR_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Телефон
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{PHONE_1}">
                                        <span>
                                           {PHONE_2}
                                        </span>
                                    </div>
                                </li>
                                <li class="offer__mark-item">
                                    <span class="offer__mark-desc">
                                        Детская площадка
                                    </span>
                                    <div class="offer__mark-status offer__mark-status--{CHILD_1}">
                                        <span>
                                           {CHILD_2}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-- BEGIN BLOCK: flat_services -->
            <div class="offer__item">
                <div class="block__link-box">
                    <span class="block__link-title">Выгрузка на площадки</span>
                    <div class="block__link">
                        <ul class="block__link-list">
                            <!-- BEGIN BLOCK: service_row -->
                            <!-- BEGIN BLOCK: service_row1 -->
                            <li class="block__link-item">
                                <div class="block__link-div">
                                <span>
                                    {SERVICE_NAME}
                                </span>
                                </div>
                            </li>
                            <!-- END BLOCK: service_row1 -->
                            <!-- BEGIN BLOCK: service_row2 -->
                            <li class="block__link-item">
                                <a href="{FU_LINK}" class="block__link-link" target="_blank">
                                <span>
                                    {SERVICE_NAME}
                                </span>
                                </a>
                            </li>
                            <!-- END BLOCK: service_row2 -->
                            <!-- END BLOCK: service_row -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END BLOCK: flat_services -->
        </div>
    </div>
    </div>
</div>
